<footer>
  <p>{{ metadata.author.email }}<br> built with <a href="https://www.11ty.dev/" style="text-decoration: none; color: inherit;">Eleventy</a></p>
  <p>&copy; {{ buildYear }} {{ metadata.author.name }}. All rights reserved.</p>
</footer>
