<footer>
  <p class="footer-line">{{ metadata.author.email }}</p>
  <ul class="badges">
    <li><a href="https://indieweb.org/" target="_blank" rel="noopener">IndieWeb</a></li>
    <li><a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a></li>
    <li><a href="{{ metadata.author.github }}/alecbrooks.github.io" target="_blank" rel="noopener">source</a></li>
    <li class="badge-stamp"><a href="https://indieweb.org/" target="_blank" rel="noopener"><img src="/img/badges/oldweb.png" alt="I love old web"></a></li>
  </ul>
  <p class="footer-line">&copy; {{ buildYear }} {{ metadata.author.name }}</p>
</footer>
