<div class="h-card">
  <span class="p-name" style="display:none">{{ metadata.author.name }}</span>
  <a class="u-url" href="{{ metadata.url }}" style="display:none">{{ metadata.url }}</a>
  <a rel="me" class="u-email" href="mailto:{{ metadata.author.email }}" style="display:none">{{ metadata.author.email }}</a>
</div>
