<div class="h-card">
  <a class="p-name u-url" href="{{ metadata.url }}">{{ metadata.author.name }}</a>
  <a rel="me" class="u-email" href="mailto:{{ metadata.author.email }}" style="display:none">{{ metadata.author.email }}</a>
</div>
