<ul class="socialLinks">
  <li><a rel="me noopener" href="{{ metadata.author.github }}" target="_blank"><i class="fa-brands fa-github"></i></a></li>
  <li><a rel="me" href="mailto:{{ metadata.author.email }}"><i class="fa-solid fa-envelope"></i></a></li>
  <li><a href="https://signal.me/#eu/6eGgaGFq8V3VuUhHheH7GRePYyOUxYUZkBGzFmi0hMEX2DGw8VlIQ50azPVchG_z" target="_blank" rel="noopener" aria-label="Signal" class="icon-svg">
    <svg viewBox="0 0 24 24" width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
      <rect x="2" y="3" width="20" height="14" rx="4"></rect>
      <polygon points="7,17 7,22 12,17"></polygon>
    </svg>
  </a></li>
</ul>
