<ul class="socialLinks">
  <li><a rel="me" href="{{ metadata.author.linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a></li>
  <li><a rel="me" href="{{ metadata.author.github }}"><i class="fa-brands fa-github"></i></a></li>
  <li><a rel="me" href="{{ metadata.author.kaggle }}"><i class="fa-brands fa-kaggle"></i></a></li>
  <li><a rel="me" href="{{ metadata.author.tableau }}"><i class="fa-solid fa-plus"></i></a></li>
</ul>
