<ul class="socialLinks">
  <li><a rel="me noopener" href="{{ metadata.author.github }}" target="_blank"><i class="fa-brands fa-github"></i></a></li>
  <li><a rel="me" href="mailto:{{ metadata.author.email }}"><i class="fa-solid fa-envelope"></i></a></li>
  <li><a href="https://signal.me/#eu/6eGgaGFq8V3VuUhHheH7GRePYyOUxYUZkBGzFmi0hMEX2DGw8VlIQ50azPVchG_z" target="_blank" rel="noopener"><i class="fa-brands fa-signal-messenger"></i></a></li>
</ul>
